{% extends 'base.html' %}
{% block title %}Student Dashboard{% endblock %}

{% block content %}
<div class="mb-6">
    <h1 class="text-2xl sm:text-3xl font-bold text-white">Student Dashboard</h1>
    <p class="text-base sm:text-xl my-2 text-gray-400">Welcome back, <span class="text-indigo-400 font-semibold">{{ student.name }}!</span></p>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-6">

    <div class="bg-gray-800 p-6 rounded-xl border border-gray-700">
        <h3 class="text-lg sm:text-xl font-semibold text-white mb-4">Enrolled Courses</h3>
        <ul class="space-y-2">
            {% for course in courses %}
            <li class="p-3 bg-gray-700/50 rounded-md text-gray-300 flex justify-between">
                <span>{{ course.course_name }}</span>
                <span>{{ course.course_code}}</span>
            </li>
            {% empty %}
            <li class="text-gray-400">Not enrolled in any courses.</li>
            {% endfor %}
        </ul>
    </div>

    <div class="bg-gray-800 p-6 rounded-xl border border-gray-700">
        <h3 class="text-lg sm:text-xl font-semibold text-white mb-4">Attendance Report</h3>
        <ul class="space-y-2">
            {% for data in attendance_data %}
            <li class="p-3 bg-gray-700/50 rounded-md text-gray-300 flex justify-between items-center">
                <span>{{ data.course.course_name }}</span>
                <span class="font-semibold px-2 py-1 rounded-full text-sm
                        {% if data.percentage > 50 %}
                            bg-green-500/20 text-green-300
                        {% else %}
                            bg-red-500/20 text-red-300
                        {% endif %}">
                    {{ data.percentage|floatformat:2 }}%
                </span>
            </li>
            {% empty %}
            <li class="text-gray-400">No attendance records found.</li>
            {% endfor %}
        </ul>
    </div>

    <div class="bg-gray-800 p-6 rounded-xl border border-gray-700 col-span-1 lg:col-span-2">
        <h3 class="text-lg sm:text-xl font-semibold text-white mb-4">Assessments</h3>
        <ul class="space-y-2">
            {% for item in assessments_with_results %}
            <li class="p-3 bg-gray-700/50 text-white rounded-md grid grid-cols-1 sm:grid-cols-3 gap-4 items-center">
                <div class="col-span-2">
                    <div class="flex flex-col sm:flex-row sm:items-baseline sm:gap-4">
                        <span class="font-semibold text-white">{{ item.assessment.assessment_name }}</span>
                        <span class="text-gray-200">({{ item.assessment.course.course_name }})</span>
                    </div>
                </div>
                <div class="text-right font-semibold">
                    {% if item.result %}
                    {{ item.result.marks }} / <span class="text-gray-400">{{ item.assessment.assessment_full_marks }}</span>
                    {% else %}
                    <span class="text-gray-500">Not Graded</span>
                    {% endif %}
                </div>
            </li>
            {% empty %}
            <li class="text-gray-400">No assessments found.</li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}
